/*PC*/
@media (min-width: 1024px)
{
    .menu-icon
    {
        display: none;
    }
}
/*Tablet*/
@media (min-width: 740px) and (max-width: 1023px)
{
     /*Header*/
     #Header
     {
         width: 100%;
         flex-wrap: nowrap;
         position: sticky;
         position: -webkit-sticky;
         top:0;
         
     }
     .Menu-Father
     {
         display: none;
         font-weight: bold;
     }
     .Son 
    {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
     #Header div 
     {
         flex-basis: 100%;
       
     }
     .Logo img
     {
         width: 180px;
     }
     .menu-icon
     {
         display:block;
     }
     #show-search
     {
         display: none;
     }
     #show-menu
    {
        display: none;
    }
    #show-search:checked + .Searching .OfSearch-Icon
    {
        display: block;
        position: absolute;
        top:70px;
        width: 200px;
    }
    #show-menu:checked + #Menu .Menu-Father
    {
       transition: 1s ease;
       animation-delay: 2s;
        display: block;
    }
     .Searching 
     {
         font-size: 18px;
        top:5px;
        right:10px;
     }
     .Searching input 
     {
         display: none;
     }
     .Hotline
     {
         display: none;
     }
     .Login-Register p
     {
         display: none;
         
     }
     .Login-Register
     {
         position: relative;
         top: 5px;
         font-size: 18px;
     }
     .GioHang p
     {
         display: none;
         
     }
     .GioHang
     {
         position: relative;
         font-size: 18px;
         top: 5px;
     }
  
 
     /*  Banner */
     
     #Banner
     {
         width: 100%;
     }
     #Banner img
     {
        width: 100%;
   
        margin-bottom: 0px;
     }
     
     /*Content*/
     #Content
     {
         width: 100%;
     }
     /*Right*/
     #Right
     {
         width: 0px;
     }
     /*Left*/
     #Left
     {
         width: 0px;
     }
     
     /*Container*/
     #Container 
     {
         display: none;
     
     }
     /*Product*/
     .Product
     {
         
         grid-template-columns: repeat(2,minmax(100px,1fr));
     }
     .More
     {
         left:3px;
     }
     .Product-Son
     {
         width: 100%;
     }
     .Product-Son img
     {
         width: 100%;
     }
     
 
     
     .img-Product img 
     {
         width: 100%;
     }
 
     /*Footer*/
     #Footer
     {
         display: block;
         height: fit-content;
         width: 100%;
     }
    /*SanPham*/
    .Title-dropdown {
        position: relative;
        /* left: 280px; */
        left: 10px;
        top: 5px;
    }
    .Pan-title label 
    {
        position: absolute;
        left: 170px;
        width: fit-content;
    }
    .Price-title label 
    {
        position: absolute;
        left: 170px;
        width: fit-content;
    }
     /* Shop */
    
    /* Shop */
   div#Content-shop
   {
       padding-right:0px;
       padding-left:0px;
       grid-area: main;
       grid-template-areas: 
       "title"
       "giohang"
       "tongtien";
       
   }
   
   div.purchase-box
   {
       width: 507px;
   }
   .boder-purchase
   {
       margin:auto;
       margin-left: 0px;
   }
}


/* Mobile */
@media (max-width: 740px)
{
    /*Header*/
    #Header
    {
        width: 100%;
        flex-wrap: nowrap;
        position: sticky;
        position: -webkit-sticky;
        top:0;
        
    }
    
    .Menu-Father
    {
        display: none;
            font-weight: bold;
            
    }
    .Son 
    {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }

    #Header div 
    {
        flex-basis: 100%;
      
    }
    .Logo img
    {
        width: 180px;
    }
    .menu-icon
    {
        display:block;
        
    }
    #show-search
    {
        display: none;
    }
    #show-search:checked + .Searching .OfSearch-Icon
    {
        display: block;
        position: absolute;
        top:70px;
        width: 110px;
    }
    #show-menu
    {
        display: none;
    }

    #show-menu:checked + #Menu .Menu-Father
    {
       transition: 0.5s ease;
        display: block;
    }
    .Searching 
    {
        font-size: 18px;
       top:3px;
       right:10px;

    }
    .Searching input 
    {
        display: none;
    }
    .Hotline
    {
        display: none;
    }
    .Login-Register p
    {
        display: none;
        
    }
    .Login-Register
    {
        position: relative;
        top: 5px;
        font-size: 18px;
    }
    .GioHang p
    {
        display: none;
        
    }
    .GioHang
    {
        position: relative;
        font-size: 18px;
        top: 5px;
        margin-right:20px;
    }
    /*  Banner */
    
    #Banner
    {
        width: 100%;
       
    }
    #Banner img 
    {
        width: 100%;
        margin-bottom: 0px;
    }

    /*Content*/
    #Content
    {
        width: 100%;
        grid-template-columns: repeat(1,minmax(100px,1fr));
        grid-template-areas: 
        "Link"
        "sidebar"
        "main-c";
        display: block;
        align-items: center;
        justify-content: center;
    }
    #Main-Introduce
    {
        width: 100%;
    }
    #Main-Introduce img 
    {
        width: 100%;
    }

    /*Right*/
    #Right
    {
        width: 0px;
    }
    /*Left*/
    #Left
    {
        width: 0px;
    }
    
    /*Container*/
    #Container 
    {
        display: none;
    
    }
    /*Product*/
    .Product
    {
        
        grid-template-columns: repeat(2,minmax(100px,1fr));
    }
    .More
    {
        left:3px;
    }
    .Product-Son
    {
        width: 100%;
    }
    .Product-Son img
    {
        width: 100%;
    }
    

    
    .img-Product img 
    {
        width: 100%;
    }

    /*Footer*/
    #Footer
    {
        display: block;
        height: fit-content;
        width: 100%;
    }
    
    

    /*SanPham*/
    .Title-dropdown {

        display: flex;
        left: 0px;
        top: 55px;
    }
    #Title-dropdown
    {
            width: 50%;
    }
      .Pan-title label 
    {
    position: absolute;
    left: 170px;
    width: fit-content;
    }
    .Price-title label 
    {
    position: absolute;
    left: 170px;
    width: fit-content;
    }
    .Pan 
    {
        
    }

    /*Login*/
    
    #Main div
    {
          width: 100%;
    }
    #Main
    {
        width: 100%;
    }
    .Username
    {
        margin: 0px 0px 5px 0px;
    }
    .Password
    {
        margin: 0px 0px 5px 0px;
    }
    .req_pass
    {
        width: 100%;
        margin-left: 14px;
        margin-right: 15px;
    }
    .Login-Button
    {
        margin:10px 0px 0px 0px;
        width: 50%;
        position: relative;
        left:27%;
    }
    .Register-Button 
    {
        margin-right: 30px;
    }

    /* Shop */
   div#Content-shop
    {
        padding-right:0px;
        padding-left:0px;
        grid-area: main;
        grid-template-areas: 
        "title"
        "giohang"
        "tongtien";
        
    }
    
    div.purchase-box
    {
        width: 470px;
    }
    .boder-purchase
    {
        margin:auto;
    }

    /*Product*/
    div.main-Pan
{
  
    grid-template-areas: 
    "sidebar-Pan-L"
    "img-Pan-m " 
     "information-Pan"
     "sidebar-Pan-R" 
    "pro-inf";
}
    div.product-information
{
   
    grid-template-areas: 
    "main-pro"" sidebar-pro"
    "information-pro";
}
    .img-Pan
    {
        width: 100%;
    }
    div.ContainerImgPan img
    {
        width: 100%;
        height: 600px;
    }
    .Sidebar-L
    {
        margin-right: 0px;
        align-items: center;
    }
    div.Sidebar-L img 
    {
        width: 150px;
    }
    div.list-pro-Pan
    {
        width: 100%;
        display: none;
    }
    div.list-pro-Pan img 
    {
        width: 100px ;
        height: 100px;
    }
    p.title-Pan
    {
        font-size: 30px;
    }
    p.id-Pan
    {
        font-size: 20px;
    }
    p.Header-Pan
    {
        width: 100%;
        font-size: 25px;
    }
    div.list-pan 
    {
        display: flex;
        
    }
    div.list-pan p 
    {
        font-size: 25px;
        margin-right: 50px;
    }
    div.list-pan img 
    {
        
        width: 100px;
        
    }
    div.choose-size-Pan
    {
        width: 100%;
    }
    p.choose-size
    {
        font-size: 22px;
    }
    div.choose-size-Pan a
    {
        font-size:20px;
        padding-right:20px;
    }
    p.size
    {
        
        font-size:25px;
        
    }
    ul.size-number li
    {
        
        width: 60px;
        height: 30px;
    }
    div.Inventory p
    {
        font-size: 25px;
    }
    div.AddToCart 
    {
        height: 58px;
        width: 230px;
    }
    div.shop-system
    {
        width: 100%;
    }
    div.shop-system h2 
    {
        font-size: 25px;
    }
    select#title-shop-system
    {
        height: 50px;
        font-size: 25px;
    }
    div.shop-system p
    {
        font-size: 23px;
    }
    
    div.service
    {
        width: 700px;
    }
    div.service h3
    {
        font-size: 25px;
    }
    div.service p 
    {
        font-size: 23px;
    }
    div.express-delivery img
    {
        margin:auto;
    }
    div.box-express-delivery b
    {
        font-size: 20px;
    }
    div.box-express-delivery p 
    {
        font-size: 20px;
    }
    div.change-size img
    {
       
        margin-left: 50px;
        
    }
    div.box-change-size b
    {
        font-size: 20px;
    }
    div.box-change-size p 
    {
        font-size: 20px;
    }
    div.COD-delivery img 
    {
        margin-left: 50px;
        
    }
    div.box-COD-delivery b
    {
        font-size: 20px;
    }
    div.box-COD-delivery p 
    {
        font-size: 20px;
    }
    div.support-online img
    {
        margin-left:50px;
    }
    div.box-support-online b
    {
        font-size: 20px;
    }
    div.box-support-online p 
    {
        font-size: 20px;
        
    }
    div.img-product-information
    {
        width: 100%;
    }
    div.img-sidebar
    {
        margin-right: 0px;
        align-items: center;
    }
    div.Information-son p
    {
        margin-top: 15px;
        font-size: 25px;
    }
    div.box-pro b
    {
        font-size: 25px;
    }
    div.box-pro p
    {
        font-size: 25px;
    }
}

/*Menu-Icon*/
.menu-icon
{
    font-size: 20px;
   
    right:0;
    
    padding-right: 10px;
    position:absolute;
    align-items: center;
    top:42px;
    cursor: pointer;
}
#show-menu
{
    
    display: none;
}
#show-search
{
    display: none;
}