/*PC*/
@media (min-width: 1024px)
{
    .menu-icon
    {
        display: none;
    }
}
/*Tablet*/
@media (min-width: 740px) and (max-width: 1023px)
{
     /*Header*/
     #Header
     {
         width: 100%;
         flex-wrap: nowrap;
         position: sticky;
         position: -webkit-sticky;
         top:0;
         
     }
     .Menu-Father
     {
         display: none;
         font-weight: bold;
     }
     .Son 
    {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
     #Header div 
     {
         flex-basis: 100%;
       
     }
     .Logo img
     {
         width: 180px;
     }
     .menu-icon
     {
         display:block;
     }
     #show-menu
    {
        display: none;
    }
    #show-menu:checked + #Menu .Menu-Father
    {
       transition: 1s ease;
       animation-delay: 2s;
        display: block;
    }
     .Searching 
     {
         font-size: 18px;
        top:5px;
        right:10px;
     }
     .Searching input 
     {
         display: none;
     }
     .Hotline
     {
         display: none;
     }
     .Login-Register p
     {
         display: none;
         
     }
     .Login-Register
     {
         position: relative;
         top: 5px;
         font-size: 18px;
     }
     .GioHang p
     {
         display: none;
         
     }
     .GioHang
     {
         position: relative;
         font-size: 18px;
         top: 5px;
     }
  
 
     /*  Banner */
     
     #Banner
     {
         width: 100%;
     }
     #Banner img
     {
        width: 100%;
   
        margin-bottom: 0px;
     }
     
     /*Content*/
     #Content
     {
         width: 100%;
     }
     /*Right*/
     #Right
     {
         width: 0px;
     }
     /*Left*/
     #Left
     {
         width: 0px;
     }
     
     /*Container*/
     #Container 
     {
         display: none;
     
     }
     /*Product*/
     .Product
     {
         
         grid-template-columns: repeat(2,minmax(100px,1fr));
     }
     .More
     {
         left:3px;
     }
     .Product-Son
     {
         width: 100%;
     }
     .Product-Son img
     {
         width: 100%;
     }
     
 
     
     .img-Product img 
     {
         width: 100%;
     }
 
     /*Footer*/
     #Footer
     {
         display: block;
         height: fit-content;
         width: 100%;
     }
    /*SanPham*/
    .Title-dropdown {
        position: relative;
        /* left: 280px; */
        left: 10px;
        top: 5px;
    }
}


/* Mobile */
@media (max-width: 740px)
{
    /*Header*/
    #Header
    {
        width: 100%;
        flex-wrap: nowrap;
        position: sticky;
        position: -webkit-sticky;
        top:0;
        
    }
    
    .Menu-Father
    {
        display: none;
            font-weight: bold;
            
    }
    .Son 
    {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }

    #Header div 
    {
        flex-basis: 100%;
      
    }
    .Logo img
    {
        width: 180px;
    }
    .menu-icon
    {
        display:block;
        
    }
    #show-search
    {
        display: none;
    }
    #show-search:checked + #Header .Searching input 
    {
        display: block;
    }
    #show-menu
    {
        display: none;
    }

    #show-menu:checked + #Menu .Menu-Father
    {
       transition: 0.5s ease;
        display: block;
    }
    .Searching 
    {
        font-size: 18px;
       top:5px;
       right:10px;
    }
    .Searching input 
    {
        display: none;
    }
    .Hotline
    {
        display: none;
    }
    .Login-Register p
    {
        display: none;
        
    }
    .Login-Register
    {
        position: relative;
        top: 5px;
        font-size: 18px;
    }
    .GioHang p
    {
        display: none;
        
    }
    .GioHang
    {
        position: relative;
        font-size: 18px;
        top: 5px;
        margin-right:20px;
    }
    /*  Banner */
    
    #Banner
    {
        width: 100%;
       
    }
    #Banner img 
    {
        width: 100%;
        margin-bottom: 0px;
    }

    /*Content*/
    #Content
    {
        width: 100%;
        grid-template-columns: repeat(1,minmax(100px,1fr));
        grid-template-areas: 
        "Link"
        "sidebar"
        "main-c";
        display: block;
        align-items: center;
        justify-content: center;
    }
    #Main-Introduce
    {
        width: 100%;
    }
    #Main-Introduce img 
    {
        width: 100%;
    }

    /*Right*/
    #Right
    {
        width: 0px;
    }
    /*Left*/
    #Left
    {
        width: 0px;
    }
    
    /*Container*/
    #Container 
    {
        display: none;
    
    }
    /*Product*/
    .Product
    {
        
        grid-template-columns: repeat(2,minmax(100px,1fr));
    }
    .More
    {
        left:3px;
    }
    .Product-Son
    {
        width: 100%;
    }
    .Product-Son img
    {
        width: 100%;
    }
    

    
    .img-Product img 
    {
        width: 100%;
    }

    /*Footer*/
    #Footer
    {
        display: block;
        height: fit-content;
        width: 100%;
    }
    
    

    /*SanPham*/
    .Title-dropdown {

        display: flex;
        left: 0px;
        top: 55px;
    }
    #Title-dropdown
    {
            width: 50%;
    }

    /*Login*/
    
    #Main div
    {
          width: 100%;
    }
    #Main
    {
        width: 100%;
    }
    .Username
    {
        margin: 0px 0px 5px 0px;
    }
    .Password
    {
        margin: 0px 0px 5px 0px;
    }
    .req_pass
    {
        width: 100%;
        margin-left: 14px;
        margin-right: 15px;
    }
    .Login-Button
    {
        margin:10px 0px 0px 0px;
        width: 50%;
        position: relative;
        left:27%;
    }
    .Register-Button 
    {
        margin-right: 30px;
    }
}

/*Menu-Icon*/
.menu-icon
{
    font-size: 20px;
   
    right:0;
    
    padding-right: 10px;
    position:absolute;
    align-items: center;
    top:42px;
    cursor: pointer;
}
#show-menu
{
    
    display: none;
}
#show-search
{
    display: none;
}