#Content
{
    display: grid;
    width: 100%;
    height: fit-content;
    grid-area: main;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas: 
    "Link Link"
    "sidebar main-c";
}
.LINK-Product
{
    color: gray;
    height: 20px;
    width: 100%;
    grid-area: Link;
    
}
.Left-Content
{

    margin-right:30px;
    grid-area: sidebar;
    width: fit-content;
    
}
.Main-Content
{
    grid-area: main-c;
}

.Pan
{
    margin-top: 30px;
    width: 200px;
    height: 180px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 1px 2px silver;
    background-color:ghostwhite;
    margin-bottom: 30px;
}
.Pan-title
{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}
.Pan-checkbox
{
    display:block;
    margin-top: 25px;
    font-size: 18px;
}

.Price
{
    margin-top: 30px;
    width: 200px;
    height: 250px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 1px 2px silver;
    background-color:ghostwhite;
    margin-bottom: 30px;
}
.Price-title
{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}
.Price-checkbox
{
    margin-top: 25px;
    font-size: 18px;
}
.Shoes-Size
{
    margin-top: 30px;
    width: 200px;
    height: 180px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 1px 2px silver;
    background-color:ghostwhite;
    margin-bottom: 30px;
}
.Shoes-Size-Title
{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    margin-bottom: 25px;
}
.Size-checkbox-left
{
    float: left;
    padding-left: 20px;
    font-size: 18px;
}
.Size-checkbox-right
{
    float:right;
    padding-right:20px;
    font-size: 18px;
}
.Title-Product
{
    position: relative;
    width: 100%;
    border: 1px solid silver;
    display: flex;
    margin-top:30px;
    background-color: ghostwhite;
    padding: 10px;
    box-shadow: 1px 2px silver;
    margin-bottom: 30px;
}
.Title-group
{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
.Title-dropdown
{
    position: absolute;
    left:600px;
    top:15px;

}
