*
{
    margin:0;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
#TrangChu
{
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(10px, 1fr));
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "banner banner banner"
    "left main right"
    "footer footer footer"
    ;

}

#Header
{
    display:flex;
    width: 100%;
    height:100px;
    justify-content: space-between;
    background-color: rgb(10, 10, 10);
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    grid-area: header;
    flex-wrap: wrap;
    box-shadow: 1px 2px silver;
}
.Hotline
{
    position: relative;
    display: flex;
    background-color: transparent;
    color: white;
    align-items: center;
    padding-left: 10px;
    padding-right:10px;
    width: 200px;
    height:98px;
    top: 5px;   
}
.Logo img
{
    width: 200px;
    height: 99px;
    align-items: center;
   
}
.Searching
{
    color: white;
    align-items: center;
    display: flex;
    position: relative;
}
.Searching input
{
    width: 600px;
    height:50px;
    border-radius: 10px;
}
.OfSearch-Icon
{display: none;}
.Searching ::placeholder
{
    padding: 5px;
}
.Login-Register
{
    color: white;
    align-items: center;
    display: flex;
}
.Login-Register a
{
    display: flex;
}
.GioHang
{
    color: white;
    align-items: center;
    display: flex;
    padding-right:10px;
}
.GioHang a
{
    color: white;
    display: flex;
}
.GioHang a:hover
{
    color:aquamarine;
}
.Login-Register a:hover
{
    color:aquamarine;
}
.Login-Register a
{
    color:white;
}
#Menu
{
    grid-area: navbar;
    height: fit-content;
    margin-bottom: 3px;
    width: 100%;
    box-shadow: 1px 2px silver;
    
    
}
.Menu-Father
{
    display: flex;
    justify-content: space-between;
    background-color: snow;

   
}
.Son a
{
    font-weight: 600;
    color: black;
}
.Son
{

    line-height: 40px;
    list-style: 40px;
    padding: 10px;
}
.Son:hover 
{
    background-color: red;
    height:fit-content;
    
}
#Banner
{
    grid-area: banner;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}
#Banner img
{
    

    width:100%;
    margin-bottom: 50px;
}
.slide-wrapper
{
    display: flex;
    width: 500%;
    -webkit-animation: slide 15s ease infinite;
}
.slide 
{
    width: 100%;
    float: left;
    
}
@-webkit-keyframes slide 
{
    0% {margin-left: 0%;}
    10% {margin-left: -100%;}
    20% {margin-left: -100%;}
    30% {margin-left: -200%;}
    40% {margin-left: -200%;}
    60% {margin-left: -300%;}
    70% {margin-left: -400%;}
    
    
}
#Container
{
    width: 750px;
    height: 136px;
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
}

.fas
{
    color: red;
}
.Ctn
{
    display: block;
    text-align: center;
    width: 200px;
    margin-right:100px;
}
.Icon-shipping
{
    margin-bottom:10px;
}
.Title-shipping
{
    width: 200px;
    text-align: center;
    
}
.Content-shipping
{
    color: silver;
    width: 200px;
    text-align: center;
}
.Icon-guarantee
{
    width: 200px;
    margin-top:-10px;
    margin-bottom:10px;
}
.Title-guarantee
{
    width: 200px;
    text-align: center;
}
.Content-guarantee
{
    width: 200px;
    color: silver;
    text-align: center;
}
.Icon-changeSize
{
    width: 200px;
    margin-top:10px;
    margin-bottom:10px;
}
.Title-changleSize
{
    width: 200px;
    text-align: center;
}
.Content-changeSize
{
    width: 200px;
    color: silver;
    text-align: center;
}
.Icon-orderOnline
{
    width: 200px;
    margin-top: -25px;
    margin-bottom: 10px;
}
.Title-oderOnline
{
    width: 200px;
    text-align: center;
}
.Content-oderOnline
{
    width: 200px;
    color: silver;
    text-align: center;
}
#Left
{
    width:200px;
    float: left;
    border: 1px;
}
#Content
{
    grid-area: main;
    width: 1100px;
    border:0;
}
.List-Product 
{
    position: relative;
    margin-top: 50px;
    border-top: 1px solid;
    text-align: center;
}

.List-Title-Product 
{ 
    font-size:30px;
    font-weight: bold;
    font-style: italic;
}
.List-Content-Product 
{
    font-size:20px;
    margin-bottom: 20px;
}

.img-Product img
{
    
    width:100%;
    
}

.Product
{
    display: grid;
    margin-top: 10px;
    margin-bottom: 100px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 20px;
    row-gap: 20px;
}
.Product-Son
{
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 30px;
    box-shadow: 1px 2px black;
    
}
.Product-Img img
{
    width:250px;
    display: block;
    transition: .5s ease;
    margin-bottom:5px;
}

.Product-Img img:hover
{
    opacity:0.3;
}
.Product-Title
{
    color: black;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.Product-Content
{
    border-bottom: 1px solid silver;
    text-align: left;
    padding-left: 15px;
}
.Product-Price
{
    font-size: 20px;
    color: red;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    padding-left: 20px;
}
.More
{
    display: flex;
    width:100%;
    margin-top:-60px;
    align-items: center;
    justify-content: center;
    position: relative;
    right:10px;
}
.Infor:hover
{
    background-color: red;
    color: white;
}
.Infor
{
    height: 40px;
    width: 130px;
    background-color: #58b3f0;
    color: white;
    border: 1px solid white;
    border-radius: 200px;
    align-items: center;
    display: flex;
    padding-left: 18px;
    text-transform: uppercase;
}
#Right
{
    
    width: 198px;
    border: 0;
}
#Footer
{
    position: static;
    display: flex;
    background-color: black;
    width: 100%;
    height: 200px;
    justify-content:space-between;
    margin-top: 30px;
    grid-area: footer;
}
.Content-S
{
    padding-left: 20px;
    margin-top: 50px;
    margin-right: 50px;
    
}
.Content-S1
{
    color: red;
    font-size:20px;
    margin-bottom:10px;
}
.Content-S2
{
    color: white;
}
.Content-S2 a
{
    color: white;
}
.Content-S2:hover
{
    color:aquamarine;
}
.Content-S2 a:hover
{
    color:aquamarine;
}
.Link-List
{
    margin-top:10px;
    display:inline-flex;
}
.ICON img
{
    width: 30px;
    height: 30px;
}
